<div class="col-12 p-3"><img src="{{ coversection1 }}" alt="{{ title }}" class="img-fluid"/></div>
<div class="col-md-12 p-3">
<h3><a href="/">{{ titlesection1 }}</a></h3>
<p class="p-5">{{ section1 }}</p>
</div>