<div class="modal fade" id="menu" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="menu" aria-hidden="true">
  <div class="modal-dialog text-center">
    <div class="modal-content bg-dark">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="menu">Select Menu</h5>
        <button type="button" class="btn-close text-light bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body row">
       <div class="col-6 p-3">
           <a class="text-center p-3 text-center text-light" href="/">
            <p class="p-1 rounded"><i class="fas fa-utensils fa-4x"></i><br/> Home Page</p>
           </a>
       </div>
       
       <div class="col-6 p-3">
        <a class="p-3 text-center text-light" href="/product/">
         <p class="p-1 rounded"><i class="fas fa-mobile-alt fa-4x"></i><br/> Products</p>
        </a>
    </div>
    

    <div class="col-6 p-3">
        <a class="p-3 text-center text-light" href="/pointofsale/">
         <p class="p-1 rounded"><i class="fas fa-cash-register fa-4x"></i><br/> Package</p>
        </a>
    </div>

    <div class="col-6 p-3">
        <a class="p-3 text-center text-light " href="/techno/">
        <p class="p-1 rounded"> <i class="fab fa-react fa-4x"></i><br/> Techno</p>
        </a>
    </div>

    </div>
    </div>
  </div>
</div>