<div class="col-12 text-center p-1 fixed-top">
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#menu">
 Open <i class="fas fa-utensils"></i> Menu
</button>
</div>
{{ include('widget/menu.html.twig') }}
